:root {
    --main-color-1: #69493D;
    --main-color-2: #D2B59A;
    --background: #EEEEEE;
}

body {
    background-color: var(--background);
    color: black;
    font-family: 'Epilogue', sans-serif;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    background-color: white;
}

/* Barra de navegação */
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
}

.navbar li {
    display: inline;
    margin-left: 15px;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar li a {
    display: block;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    text-decoration: underline;
}

/* Container inicial */
.first-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10%;
    flex-wrap: wrap;
}

.first-title h1 {
    font-size: 50px;
    text-align: center;
}

.my-image img {
    width: 100%;
    max-width: 470px;
    height: auto;
    object-fit: cover;
}

/* Conteúdo principal */
.main-content {
    margin: 20px;
}

.main-content .floating-elements {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between; 
    gap: 20px; 
}

.main-content .floating-left {
    width: 60%; 
}

.main-content .floating-right {
    width: 37%; 
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    margin-bottom: 20px;
}

.floating-left .about-me, 
.floating-left .qualifications {
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
    color: white;
}

.floating-left .about-me {
    background-color: var(--main-color-1);
}

.floating-left .qualifications {
    background-color: var(--main-color-2);
}

.floating-right .programming-languages {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    height: 75%;
}

.floating-right .social-media, 
.floating-right .programming-languages {
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.floating-right .social-media {
    padding: 50px 30px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    height: 25%;
}

.floating-right .programming-languages {
    background-color: var(--main-color-1);
    color: white;
}

.floating-right .programming-languages img {
    width: 50px;
    height: auto;
    margin: 10px;
}

/* Projetos */
.projects, .contact-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.contact-form {
    background-color: var(--main-color-2);
}

.contact-form .form-input, 
.contact-form .form-textarea {
    width: 100%;
    max-width: 500px;
    border-radius: 5px;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
}

.contact-form .submit-btn {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 10px;
}

/* Media Queries */
@media (max-width: 768px) {
    .first-title h1 {
        font-size: 40px; 
    }

    .my-image img {
        max-width: 300px; 
    }

    .main-content .floating-elements {
        flex-direction: column; 
        align-items: center; 
        gap: 20px; 
    }

    .main-content .floating-left,
    .main-content .floating-right {
        width: 100%; 
    }
}

@media (min-width: 1024px) {
    .first-title h1 {
        font-size: 120px;
    }
}
