:root{
    --rosa: #ffe3f1;
    --azul: #203572;
    --cinza: #f3f3f3;
}

body{
    align-items: center;
    background-color: white;
    margin: 0px 50px;
    color: black;
    font-family: 'Epilogue';
}

main {
    background-color: var(--rosa);
}

/* barra de navegação */
nav {
    background-color: white;
}

a{
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--rosa);
}
li {
    display: inline;
    float: right;
}

li a {
    display: block;
    padding: 5px;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}
/*barra de navegação*/

.container {
    display: flex;
    justify-content: space-between;
}

.me-bio {
    padding: 100px 300px;
}

.img-me {
    margin-right: 50px;
}

#imagemnat{
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-right: 10px;
    border: solid 1.5px black;
}

#titulo {
    width: 150px;
}

.bio {
    padding-top: 50px;
}

hr {
    background-color: var(--rosa);
    border-color: var(--rosa);
}

.form-ipt {
    width: 400px;
    height: 35px;
    border: none;
    padding: 10px;
    background-color: var(--cinza);
    margin-bottom: 10px;
}

.form-text {
    width: 400px;
    height: 200px;
    border: none;
    padding: 10px;
    background-color: var(--cinza);
    margin-bottom: 10px;
}

.form-btn {
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 10px;
}

.margin {
    margin: 70px 0px;
}