/**95, 167, 195 // 57, 156, 198 //18, 38, 75 */
:root{
    --rosa: #FFACEC;
    --azul: #203572;
    --bege: #F7F5F5;
}

body {
    background-color: var(--bege);
    max-width: 900px;
    margin: auto;
}

h1 {
    color: var(--rosa);
    text-align: center;
}

h2{
    color: var(--rosa);
}

p{
    color:var(--azul);
}

.table {
    background-color: rgb(57, 156, 198);
}

tr{
    color: var(--azul);
}

a {
    color: var(--azul);
}

.post {
    background-color: rgb(57, 156, 198);
    border: 2px solid white;
}

.photo {
    text-align: center;
}

.detail {
    color: white;
}

.subtitle {
    color: white;
    text-align: center;
}

ul {
    color: white;
}